:root{
    --dark:#374151;
    --darker:#1F2937;
    --darkest:#111827;
    --gray:#6B7280;
    --light:#EEE;
    --white:#FFF;
    --pink:#EC4899;
    --error:#ff0000;
    --purple:#8B5CF6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans','sans-serif';
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--dark);
    color: var(--white);
}

header{
    padding: 2rem 1rem;
    width: 100%;
    margin: 0 auto;
}

body > header > h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new_task_form{
    display: flex;
}

button,input{
    border: none;
    outline: none;
    background: none;
    appearance: none;
}

#new_task_input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;   
}

#new_task_input::placeholder{
    color: var(--gray);
}

#new_task_submit{
    color: var(--pink);
    font-size: 1.5rem;
    font-weight: 700;
    background-image: linear-gradient(to right,var(--pink),var(--purple));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new_task_input:hover{
    opacity: 0.8;
}

#new_task_input:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    width: 100%;
    margin: 0 auto;
}

body > main > section{
    padding: 1rem;
}

body > main > section > h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#Tasks > div{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

#Tasks > div > div.Content > input{
    display: block;
    width: 100%;
    color: var(--light);
    font-size: 1.125rem;
    transition: 0.4s;
}

#Tasks > div > div.Content > input:not(:read-only){
    color: var(--pink);
}

#Tasks > div > div.Action{
    display: flex;
    margin: 0 -0.5rem;
}

#Tasks > div > div.Action > button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

#Tasks > div > div.Action > button.Edit{
    background-image: linear-gradient(to right,var(--pink),var(--purple));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#Tasks > div > div.Action > button.Delete{
    color: var(--error);
}

#Tasks > div > div.Action > button.Edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

#Tasks > div > div.Action > button.Delete {
	color: crimson;
}